body, canvas { 
  margin:0; 
  padding:0; 
  overflow:hidden; 
  background:black; 
}

#debugText { 
  position:absolute; bottom:30px; left:400px; z-index:99999; 
}

#heatmapDebug { 
  position:absolute; 
  bottom:8px; 
  right:8px; 
  z-index:99999; 
  display:block; 
  color:silver; 
  letter-spacing:-1px; 
  line-height:10px; 
  font-size:16px; 
  font-family: lexendpeta; }

  #statsGraph { 
    position:absolute; 
    bottom:8px; 
    right:200px; 
    width:200px;
    height:auto;
    z-index:99999; 
    display:block; 
    background:rgb(54, 38, 38);
    color:rgb(231, 223, 188);
    font-size:16px; 
    font-family: lexendpeta; }


@font-face {
  font-family: 'b612regular';
  src: url('fonts/B612Mono-Regular.ttf');
}

/* This looks good for 'Bills Are Due!' alert */
@font-face {
  font-family: 'bebasregular';
  src: url('fonts/BebasNeue-Regular.ttf');
}

/* Main font */
@font-face {
  font-family: 'lexendpeta';
  src: url('fonts/LexendPeta-Regular.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'odibeesans';
  src: url('fonts/OdibeeSans-Regular.ttf');
}

@font-face {
  font-family: 'squadaone';
  src: url('fonts/SquadaOne-Regular.ttf');
}

@font-face {
  font-family: 'zcool';
  src: url('fonts/ZCOOLQingKeHuangYou-Regular.ttf');
}

